.checkoutProduct {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info {
    padding-left: 20px;
    flex: 1;
}

.checkoutProduct__info > button {
    border: 1px solid;
    margin-top: 10px;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}


.checkoutProduct__rating {
    display: flex;
    color: #ebb812;
    margin-top: 5px;
}

.checkoutProduct__upDownButton {
    height: 20px;
    display: flex;
    align-self: center;
    flex: 0.1;
    margin-top: 5px;
    margin-bottom: 10px;
}

.checkoutProduct__price {
    margin-top: 10px;
    font-size: 20px;
}

.checkoutProduct__btn {
    width: 20px !important;
    height: 20px !important;
    background-color: rgb(233, 233, 233);
    cursor: pointer;
    border: 1px solid #111;
    border-radius: 2px;
    box-sizing: border-box;
}

.checkoutProduct__upDownButton input {
    width: 20px;
    font-size: 16px;
    padding: 4px;
    text-align: center;
}