.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info {
    padding-left: 20px;
    flex: 1;
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top:10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 2px;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct__price {

}

.checkoutProduct__rating {
    display: flex;
    color: #ebb812;
}

.checkoutProduct__upDownButton {
    width: 30px;
    height: 30px;
    display: flex;
    align-self: center;
    flex: 0.1;
}

.checkoutProduct__upDownButton button {
    width: 25px;
    font-size: 20px;
    cursor: pointer;
}

.checkoutProduct__upDownButton input {
    width: 25px;
    font-size: 16px;
    padding: 4px;
    text-align: center;
}